.flash-box グループ作ったよーん
.wrapper
 .chat-side
  .side-header
   .side-header__box
    %p.side-header__box__user-name NAOMI
    %ul.side-header__box__menu
     %li.side-header__box__menu__new-group
      =link_to "http://localhost:3000/" do
       %i.fa.fa-edit
     %li.side-header__box__menu__edit__user
      =link_to "http://localhost:3000/" do
       %i.fa.fa-cog
  .groups
   .group
    %p.group__group-name ハムハムTEAM
    %p.group__group-latest-message ハムハムっ
 .chat-main
  .main-header 
   .main-header__left-box
    .main-header__left-box__current-group ハムハムTEAM
    %ul.main-header__left-box__member-list 
     Member：
     %li.main-header__left-box__member-list__member 
      NAOMI
   =link_to "http://localhost:3000/"
    .main-header__edit-btn Edit
  .messages
   .message
    .message__upper-info
     %p.message__upper-info__talker NAOMI
     %p.message__upper-info__date 2019/06
     .message__text ハムハムっ 
  .form
   %form.new_message
  -#  %input{name: utf8, type: hidden, value: send}
  -#  %input{type: hidden, name: authenticity_taken, value: send}
  -#   .input-box 
  -#    %input{placeholder: type_a_message, class: input-box__text, type: text, name: message, id: message1}
  -#    %label{class: input-box__image, for: message_image}
  -#     %i{class: fa_fa-image}
  -#     -#  ::before
  -#      %input{class: input-box__image__file, type: file, name: message[image], id: message_image}
  -#    %input{type: submit, name: commit, value: send, class: submit-btn, data_disable_with: Send}

