.notification{
  .notice{
    background-color: $blue-color;
    color: $main-color;
    text-align: center;
  }
  .alert{
    background-color: $alert_orange;
    color: $main-color;
    text-align: center;
  }
}